.container {
    justify-content: flex-start;
}

.wp-1 {
    position: absolute;
}

.game-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    gap: 50px;
}

.level-box {
    height: 50px;
    width: 1px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    z-index: 1;
}

.active:active,
.active:active {
    transform: scale(1.2);
}

.level1 {
    margin-top: 35vh;
}

.locked {
    position: absolute;
    margin-left: 40vw;
}

.new {
    display: none;
    position: absolute;
    margin-top: 9vh;
}
